
.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transition: all 0.5s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}